:root {
  --primary-background: #f2f2f2;
  --primary-border: #f2f2f2;
  --secondary-background: #cdcdcd;
  --control-surface: #ffffff;
  --control-border: #cccccc;
  --secondary-border: #999999;
  --loading-background: #30D5C8;
  --loading-border: black;
  --test-border: #c241eb;
  --row-height: 35px;
  --row-font-size: 14px;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--primary-background);
  font-family: 'helvetica';
  overflow-y: hidden;
}

/* test class */
.clicked-button {
  color: var(--test-border);
}

/*  major component classes */
#coderef-list {
  height: 100%;
  background: var(--primary-background);
  overflow-y: scroll;
}

#loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 600px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 40px;
  background-color: var(--loading-background);
  z-index: 999;
  border: 2px ridge var(--loading-border);
  visibility: hidden;
}

#save-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#save-message {
  color: red;
}

/* row styling */
.even-row {
  background-color: var(--primary-background);
}

.odd-row {
  background-color: var(--secondary-background);
}

.even-row, .odd-row {
  height: var(--row-height);
  display: grid;
  grid-template-columns: 5% 34% 8% 8% 41%;
  grid-template-areas: "present label measurement unit remedy";
  gap: 1%;
  font-size: var(--row-font-size);
}

/* row column styling */
.present-control {
  grid-area: present;
  margin: auto;
  height: 100%;
  width: 100%;
  background: orange;
}

.row-label {
  padding-left: 10px;
  grid-area: label;
  display: flex;
  align-items: center;
}

.measurement, .unit, .remedy {
  height: 50%;
  margin: auto;
  width: 90%;
  justify-content: center;
}

.measurement {
  grid-area: measurement;
}

.unit {
  grid-area: unit;
}

.remedy {
  grid-area: remedy;
  resize: none;
  height: 90%;
}

/* list column header styling */
#list-header {
  height: 25px;
  font-size: 14;
  font-weight: bold;
  border-top: 1px solid var(--secondary-border);
  border-bottom: 1px solid var(--secondary-border);
}

#save-button {
  align-self: flex-end;
  color: green;
  border: 1px solid green;
  width: 100px;
  height: 30px;
}

.header-cell {
  display: flex;
  align-items: flex-end;
  padding-left: 5px;
  height: 50%;
}

/* utility */
.hidden {
  visibility: hidden;
}

.dirty-data {
  border: 2px solid #fd1c03 !important;
}

.saved-data {
  border: 2px solid #39ff14 !important;
}

textarea:focus, input:focus, select:focus {
  outline: none;
}