:root{
  --primary-background: #f2f2f2;
  --primary-border: #f2f2f2;
  --secondary-background: #cdcdcd;
  --control-surface: #ffffff;
  --control-border: #cccccc;
  --secondary-border: #999999;
  --test-border: #c241eb;
  --row-height: 100px;
  --row-font-size: 20px;
}


/* test class */
.clicked-button {
  color: var(--test-border);
}


/*  major component classes */
#coderef-list {
  height: 100%;
  background: var(--primary-background);
  overflow-y: scroll;
}


/* list column header styling */
#list-header {
  height: 25px;
  font-size: 14;
  font-weight: bold;
  border-top: 1px solid var(--secondary-border);
  border-bottom: 1px solid var(--secondary-border);
}

.header-cell {
padding-top: auto;
display: flex;
align-items: flex-end;
padding-left: 5px;
}

/* row styling */
.even-row {
  background-color: var(--primary-background);
}

.odd-row {
  background-color: var(--secondary-background);
}

.even-row, .odd-row {
  height: var(--row-height);
  display: grid;
  grid-template-columns: 5% 64% 14% 14%;
  grid-template-areas: "present label measurement unit";
  gap: 1%;
  font-size: var(--row-font-size);
}


/* row column styling */
.present-control {
  grid-area: present;
  margin: auto;
  height: 100%;
  width: 100%;
  background: orange;
}

.row-label {
  padding-left: 10px;
  grid-area: label;
  display: flex;
  align-items: center;
}

.measurement {
  grid-area: measurement;
}

.unit {
  grid-area: unit;
}

.measurement, .unit {
  height: 50%;
  margin: auto;
  width: 90%;
  justify-content: center;
}

/* utility */
.hidden {
  visibility: hidden;
}

.dirty-data {
  border: 2px solid red !important;
}

.saved-data {
  border: 4px solid green !important;
}

textarea:focus, input:focus, select:focus {
  outline: none;
}
